<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.max.jumpingapp">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".views.StartScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".views.DiedScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.Highscores"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.Shop"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.RecommendScreen"
            android:screenOrientation="portrait"/>
    </application>

</manifest>